<!DOCTYPE html>
<html ng-app="app">

<head>
    <link data-require="bootstrap@*" data-semver="3.1.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script data-require="tether@*" data-semver="1.4.0" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script data-require="angular.js@1.6.2" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>

<body ng-controller="mainCtrl" style="padding-top: 30px" my-click="clickHandler(data)">
    <div class="container">
        <user-info-card user="user1" collapsed="true"></user-info-card>
        <user-info-card user="user2"></user-info-card>
        <!-- Decorator directives -->
        <video id="vid" spacebar-support event-pause="handlePause()" controls preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
            <source src="trailer.ogv" type="video/ogg"></source>
            <!--<source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"></source>
            <source src="http://media.w3.org/2010/05/sintel/trailer.webm5" type="video/webm"></source>-->
        </video>
        <br/>
        <div ng-repeat="message in messages">{{message.text}}</div>

        <!--Recreating ngClick-->
        <h2>{{data.message}}</h2>
        <user-tile user="user1"></user-tile>

        <!--Manually Creating watches-->
        <div>Im not scaled</div>
        <div font-scale="size">I'm some text</div>
        <input ng-model="size"/>
    </div>
</body>

</html>