<!DOCTYPE html>
<html ng-app="app">

<head>
    <link data-require="bootstrap@*" data-semver="3.1.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script data-require="tether@*" data-semver="1.4.0" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script data-require="angular.js@1.6.2" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>

<body ng-controller="mainCtrl" style="padding-top: 30px" my-click="clickHandler(data)">
    <div class="container">
        <person-info-card person="person1" collapsed="true"></person-info-card>
        <person-info-card person="person2"></person-info-card>
        <droid-info-card droid="droid1"></droid-info-card>
        <!-- Decorator directives -->
        <video id="vid" spacebar-support event-pause="handlePause()" controls preload="none" poster="http://media.w3.org/2010/05/sintel/poster.png">
            <source src="trailer.ogv" type="video/ogg"></source>
            <!--<source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"></source>
            <source src="http://media.w3.org/2010/05/sintel/trailer.webm5" type="video/webm"></source>-->
        </video>
        <br/>
        <div ng-repeat="message in messages">{{message.text}}</div>

        <!--Recreating ngClick-->
        <h2>{{data.message}}</h2>
        <user-tile user="user1"></user-tile>

        <!--Manually Creating watches-->
        <div>Im not scaled</div>
        <div font-scale="size">I'm some text</div>
        <input ng-model="size" />

        <!--Transclusion-->
        <display-box>
            <div ng-controller="innerCtrl">
                <div>This is content inside</div>
                <ul>
                    <li>Item1</li>
                    <li>Item2</li>
                </ul>
                <div>
                    {{message}}
                </div>
            </div>
        </display-box>

        <!-- Questionnarie directive -->
        <h1>Questions</h1>
        <my-question q="Where is the rebel base?">
            <input type="text" ng-model="answers.baseLocation" />
        </my-question>
        <my-question q="Are you my brother?">
            <input type="radio" ng-value="true" ng-model="answers.brother" /> Yes
            <input type="radio" ng-value="false" ng-model="answers.brother" /> No
        </my-question>

        <!--Advanced Transclusion-->
        <div my-transclude>
            <div ng-repeat="item in items">
                {{item}}
            </div>
        </div>

        <!--Lazy load directive-->
        <div my-lazy-render="showit">
            <div ng-repeat="item in items">
                {{item}}
            </div>
        </div>

        <button class="btn btn-primary" ng-click="showit = true">Render Content</button>

        <h1 class="well">Bounty Hunters</h1>
        <div user-list="hunter in bountyHunters">
            <span>Age: {{hunter.age}}</span>
        </div>
        <hr>
        <button class="btn btn-primary" ng-click="add()">Add</button>
        <button class="btn btn-primary" ng-click="remove()">Remove</button>

        <!-- PreLink and PostLink functions -->
        <h1>Master and Apprentice</h1>
        <emperor>
            <vader>
                <starkiller></starkiller>
            </vader>
        </emperor>

        <!-- Panel directives -->
        <sw-tabstrip>
            <sw-pane title="Bounty Hunters">
                <h4>We dont need that scum</h4>
            </sw-pane>
            <sw-pane title="Death Star">
                <h4>Thats no moon...</h4>
            </sw-pane>
            <sw-pane title="Love you">
                <h4>I know</h4>
            </sw-pane>
        </sw-tabstrip>
    </div>
</body>

</html>